*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, Helvetica, sans-serif;
    background: #f2f2f2;
}

@import './sementic-components/lists.scss';

@import './components/tooltype.scss';
@import './components/slide-list.scss';
@import './components/slide.scss';
@import './components/sommaire.scss';
@import './components/identity-card.scss';
@import './components/what-is-it.scss';
@import './components/underline_animation.scss';
@import './components/syntaxe.scss';