[data-component="slide-list"] {
    margin: 10px;
    margin-right: 0px;
    overflow: hidden;
    // scroll-behavior: smooth;
    min-height: 60vmin;
    cursor: grab;
    position: relative;
    height: calc(100vmin - 20px);

    &:active {
        cursor: grabbing;
    }

    & > div {
        position: absolute;
        height: 100%;
        display: flex;
        pointer-events: none;

        -moz-user-select: none; /* Firefox */
        -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
        -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
        user-select: none; /* Propriété standard */
    
        & > div {
            width: var(--screen-width, 201vmin);
        }
        
    }
}
