[data-component=syntaxe] {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > .part {
        padding-top: 20px;
        padding-left: 100px; 
        padding-right: 100px; 
        pointer-events: all; 
        color: black;

        & h3 {
            margin-top: 20px;
            margin-bottom: 10px;
        }

        .modal-overlay {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(255, 255, 255, .4);
            display: flex;
            justify-content: center;
            align-items: center;
            pointer-events: all;

            & > .modal {
                min-width: 50%;
                min-height: 150px;
                height: auto;
                background: white;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }

    & .part:first-child {
        padding-top: 100px;
    }
}