[data-component=tooltype] {
    &.top {
        pointer-events: all;
        display: block;
        width: max-content;
        min-width: 100px;
        height: auto;
        padding: 5px;
        background-color: white;
        position: absolute;
        z-index: 0;
        font-weight: normal;
        font-size: 1rem;
        bottom: 35px;
        left: 50%;
        border-radius: 5px;
        border: 2px solid black;
        transform: translateX(-50%);

        &:before {
            content: '';
            display: block;
            border-bottom: 2px solid black;
            border-right: 2px solid black;
            width: 15px;
            height: 15px;
            background-color: white;
            transform: rotate(45deg);
            position: absolute;
            bottom: -9px;
            left: calc(50% - 10px);
            right: 0;
            z-index: -1;
        }
    }

    &.bottom {
        pointer-events: all;
        display: block;
        width: max-content;
        min-width: 100px;
        height: auto;
        padding: 5px;
        background-color: white;
        position: absolute;
        z-index: 0;
        font-weight: normal;
        font-size: 1rem;
        top: 35px;
        left: 50%;
        border-radius: 5px;
        border: 2px solid black;
        transform: translateX(-50%);

        &:before {
            content: '';
            display: block;
            border-top: 2px solid black;
            border-left: 2px solid black;
            width: 15px;
            height: 15px;
            background-color: white;
            transform: rotate(45deg);
            position: absolute;
            top: -9px;
            left: calc(50% - 10px);
            right: 0;
            z-index: -1;
        }
    }
}