@import '../animations/animations.scss';

[data-component=underline-animation] {
    text-decoration: none;
    position: relative;
    pointer-events: auto;

    &:after, &:before {
        content: '';
        display: block;
        width: 0%;
        border-bottom: 2px solid black;
        position: absolute;
        bottom: 0;
    }

    &:before {
        left: 0%;
    }

    &:after {
        right: 0%;
    }

    &.mouseover {
        &:before {
            animation: underline_move_to_right_in .3s linear both;
        }

        &:after {
            animation: underline_move_to_left_in .3s linear both;
        }
    }

    &.mouseout {
        &:before {
            animation: underline_move_to_right_out .3s linear both;
        }

        &:after {
            animation: underline_move_to_left_out .3s linear both;
        }
    }
}